*
{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Helvetica; 
}
.top input[type=text] 
{
  position: absolute;
  padding: 7px;
  width: 40%;
  margin-top: 10px;
  margin-left: 27%;
  border: 0px;
  font-size: 14px;
  border-radius: 50px;
  background: #f4f4f1;
  /*box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28); }*/
}

.top i {
  position: absolute;
  margin-top: 17px;
  margin-left: 65%;
  border: 0px;
  color: gray; }

.top .jonas {
  vertical-align: middle;
  border-radius: 50%;
  position: absolute;
  margin-left: 89%;
  margin-top: 7px; }

.top .name {
  position: absolute;
  margin-left: 92%;
  color: #000;
  margin-top: 20px;
  font-size: 14px; }
.top .a1
{
    position: absolute;
    margin-left: 80%;
    margin-top: 15px;
}
.top .a7
{
    position: absolute;
    margin-left: 81.2%;
    margin-top:8px;
}
.top .msg
{
    position: absolute;
    margin-left: 85%;
     margin-top: 10px;
}
.top .a13
{
    position: absolute;
    margin-left: 86.6%;
    margin-top:8px;
}

.sidebar {
    background: #000;
    display: flex;
    flex-direction: column;
    padding: 30px 0px;
    width: 200px;
    height: 160%;
    position: absolute;
    font-size: 12px;
}
.sidebar ul li {
    padding: 15px 40px;
    width: 200px;
    border-bottom: 1px solid #fff;
    border-bottom: 1px solid #000;
    border-top: 1px solid rgba(255, 255, 255, 0.05); }

.sidebar ul li a {
  color: #fff;
  display: block; }

.sidebar ul li a .fas {
  width: 35px; }

.sidebar ul li a .fa {
  width: 35px; }

.sidebar ul li:hover {
  background-color: #ff0058; }

.sidebar ul li:hover a {
  color: #fff; }
.sidebar .endbar{
    position: absolute;
    margin-top: 450%;
    padding: 20px;
    color: #fff;
    align-content: center;
    text-align: center;
    
}
.sidebar far{
    width: 3px;
    height: 3px;
}

.images {
  float: right; }

.content {
  color: darkgray;
  font-size: 24px;
  font-family: Helvetica;
  position: absolute;
  margin-left: 16.5%;
  margin-top: 16%; }

.content .star 
{
  position: absolute;
  margin-left: 10%;
  margin-top: 2px; 
}
.content i
{
    position: absolute;
    font-size: 15px;
    color: #ff0058;
    margin-left: 280%;
    margin-top: 10px;
}
.content .location {
  position: absolute;
  margin-left: 670px;
  margin-top: 10px;
  font-size: 12px;
  color: #ff0058;
    width: 126px;
    font-weight: bold;
    border-bottom: solid thin #ff0058;
}

.content .number {
  position: absolute;
  margin-left: 350%;
  color: #fff;
  margin-top: -16px;
  font-size: 24px;
  padding: 16px 22px;
  background-color: #ff0058; }

.content .votes {
  position: absolute;
  margin-left: 359%;
  color: #fff;
    width: 50px;
  margin-top: 30px;
  font-size: 7px; }

.item1 {
  grid-area: main; }

.item2 {
  grid-area: right; }

.item3 {
  grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas: 'main main main right'
 'main main main footer';
  background-color: rgba(231, 230, 240, 0.15);
  margin-top: 260px;
  margin-left: 190px;
  margin-right: 0px;
  padding: 300px 0px; }

.grid-container > div {
  text-align: left;
  padding: 40px 40px;
  font-family: Helvetica;
  font-size: 14px;
    line-height: 25px;}

.item1 {
    position: absolute;
    margin-right: 30%;
    margin-top: -19%;
    margin-left: 4%;
    height: 500px;
    box-shadow: 0px 20px 28px 5px rgba(242, 242, 244, 0.81);
  background-color: #fff; }

.item2 {
    position: absolute;
    margin-left: 59%;
    margin-right: 5%;
    margin-top: -19%;
    width: 320px;
    height: 220px;
    box-shadow: 0px 20px 28px 5px rgba(242, 242, 244, 0.81);
  background-color: #fff; }

.item3 {
    position: absolute;
    margin-left: 59%;
    margin-right: 5%;
    margin-top: 0px;
    width: 320px;
    height: 220px;
    box-shadow: 0px 20px 28px 5px rgba(242, 242, 244, 0.81);
  background-color: #fff; }

.item2 .kunu {
  vertical-align: middle;
  border-radius: 50%;
    margin-top: 5.5px;
  position: absolute; }

.item2 .name {
  position: absolute;
  margin-left: 20%;
  color: #000;
  margin-top: 5.5px;
  font-size: 12px; }

.item2 .date {
  position: absolute;
  margin-left: 20%;
  color: #7c7676;
  margin-top: 23px;
  font-size: 10px; }

.item2 .number {
  position: absolute;
  margin-left: 70%;
  color: #ff0058;
  margin-top: 10px;
  font-size: 20px; }

.item2 i {
  width: 50px;
  height: 50px;
  font-size: 50px;
  margin-top: -40px;
  margin-left: -40px;
    position: absolute;}

.item3 .kunu {
  vertical-align: middle;
  border-radius: 50%;
    margin-top: 5.5px;
  position: absolute; }

.item3 .name {
  position: absolute;
  margin-left: 20%;
  color: #000;
  margin-top: 5.5px;
  font-size: 12px; }

.item3 .date {
  position: absolute;
  margin-left: 20%;
  color: #7c7676;
  margin-top: 23px;
  font-size: 10px; }

.item3 .number {
  position: absolute;
  margin-left: 70%;
  color: #ff0058;
  margin-top: 10px;
  font-size: 20px; }

.item3 i {
  width: 50px;
  height: 50px;
  font-size: 50px;
    position: absolute;
  margin-top: -40px;
  margin-left: -40px; }

.item1 .line{
    position: absolute;
    width: 600px;
    height: 20px;}

.item1 .arrow{
    position: absolute;
    margin-left: 300px;
    margin-top: -100px;
}
.item1 .line1{
    position: absolute;
    width: 600px;
    height: 20px;
    margin-top: -50px;}
.item1 .lcontent{
    position: absolute;
}
.item1 .lcontent .m1{
   vertical-align: middle;
  border-radius: 50%;
  position: absolute;
    margin-left:40px ;
  margin-top:-10px ; 
    border-style: solid;
    border-color: white;
}
.item1 .lcontent .m2{
   vertical-align: middle;
  border-radius: 50%;
  position: absolute;
    margin-left:80px ;
  margin-top:-10px ;
    border-style: solid;
    border-color: white;
}
.item1 .lcontent .m3{
   vertical-align: middle;
  border-radius: 50%;
  position: absolute;
    margin-left:120px ;
  margin-top:-10px ;
    border-style: solid;
    border-color: white;
}
.item1 .lcontent .m4{
   vertical-align: middle;
  border-radius: 50%;
  position: absolute;
    margin-left:160px ;
  margin-top:-10px ;
    border-style: solid;
    border-color: white;
}
.item1 .lcontent .m5{
   vertical-align: middle;
  border-radius: 50%;
  position: absolute;
    margin-left:200px ;
  margin-top:-10px;
    border-style: solid;
    border-color: white;
}
.show
{
    position: absolute;
    color: deeppink;
    font-size: 12px;
    margin-left: 80%;
    margin-top: -50px;
    border-bottom: solid thin #ff007f;
    font-weight: bold;
}
.block{
    position: absolute;
    font-size: 15px;
    color: #9a9595;
    margin-left: 40%;
    margin-top: 25px;
    font-weight: bold;
}
.book
{
    position: absolute;
    border-radius: 50px; 
    width: 220px;
    line-height: 50px;
    color: #fff;
    text-align: center;
    margin-top: 7%;
    margin-left:50%;
    font-size: 14px;
    background: #ff0058;
    background-image: linear-gradient(to right, #ff0058, #af003c);
    
}


/*------------------FLIGHT------------------*/

.background{
    position: absolute;
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: black;
  opacity:0.5;
    position: absolute;   
}

.flex-container > div {
  width: 500px;
  height: 480px;
  margin: 10px;
  line-height: 75px; 
}
.flex-container2 {
  display: flex;
  background-color: #fff;
  opacity: 0.7;
    margin-left: 50%;
    margin-top: 7%;
    position: absolute;   
}

.flex-container2 > div {
  width: 400px;
  height: 300px;
    margin-left: 30%;
}
.plane
{
    position: absolute;
    margin-top:3%;
    margin-left: 10%;
}
.plane h4{
    position: absolute;
    color: #fff;
    margin-top: -27px;
    margin-left: 35px;
    font-weight: bold;
}
.choose{
    position: absolute;
    margin-left: 10%;
    margin-top: 12%;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 0.5px;
    
}
.button {
  border: none;
  width:300px;  
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  
}

.btn1 {
    position: absolute;
    margin-top: 15%;
    margin-left: 10%;
    height: 40px;
    opacity:0.1 ;
    background-color: #fff;}
.btn2 {
    position: absolute;
    margin-top: 19%;
    margin-left: 10%;
    height: 40px;
    opacity:0.1 ;
    background-color: #fff;}
.btn3 {
    position: absolute;
    margin-top: 23%;
    margin-left: 10%;
    height: 40px;
    opacity:0.1 ;
    background-color: #fff;}
.btn4 {
    position: absolute;
    margin-top: 33.7%;
    margin-left: 10%;
    height: 40px;
    width: 200px;
    font-weight: bold;
    color: #fff;
    background-color: #ff0058;}
.sort1 i
{
    margin-top: 16%;
    margin-left: 30%;
    color: #fff;
    position: absolute;
}
.sort2 i
{
    margin-top: 20%;
    margin-left: 30%;
    color: #fff;
    position: absolute;
}
.sort3 i
{
    margin-top:24%;
    margin-left: 30%;
    color: #fff;
    position: absolute;
}
.facebook{
    position: absolute;
    margin-left: 11%;
    margin-top: 16%;
    font-size: 12px;
    color: #fff;
    letter-spacing: 0.5px;}
.youtube{
    position: absolute;
    margin-left: 11%;
    margin-top: 20%;
    font-size: 12px;
    color: #fff;
    letter-spacing: 0.5px;}
.insta{
    position: absolute;
    margin-left: 11%;
    margin-top: 24%;
    font-size: 12px;
    color: #fff;
    letter-spacing: 0.5px;}